<div class="create-container">
    <div class="create-card">
        <div class="create-column image-preview-container">
            <img id="created-image" src="" />
        </div>
        <div class="divider">
        </div>
        <div class="create-column create-item-form-container">
            <h2>Create a new item</h2>
            <form class="input-form" action="/items/create" method="post" >
                <label class="form-label" for="title">Title</label>
                <input id="title-input" name="title" maxlength="50" value="{{ newItem.title }}" {{#if newItem.errors.title}}class="error"{{/if}}/>

                <label class="form-label" for="description">Description</label>
                <textarea id="description-input" name="description" {{#if newItem.errors.description}}class="error"{{/if}}>{{ newItem.description }}</textarea>
                
                <label class="form-label" for="imageUrl">Image URL</label>
                <input id="imageUrl-input" name="imageUrl" oninput="handleChange" value="{{ newItem.imageUrl }}" {{#if newItem.errors.title}}class="error"{{/if}}/>

                <div class="form-navigation">
                    <a href="/">
                        <img class="back-arrow" src="/img/back.svg" alt="back">
                    </a>
                    <button class="button submit-button" id="submit-button" type="submit">
                        <p>Create</p>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const img = document.getElementById("created-image");
    function handleChange(e) {
        const path = e.target.value.match(/^(https*:\/\/)/i) ? "" : "http://";
        img.src = `${path}${e.target.value}`;
    }
    document.getElementById("imageUrl-input").oninput = handleChange;
</script>
