<div class="create-container">
    <div class="create-card">
        <div class="create-column">
            <img id="created-image" src="{{ item.imageUrl}}" alt="image to save">
        </div>
        <div class="divider">
        </div>
        <div class="create-column">
            <h2 class="form-title">Item update</h2>
            <form class="input-form" action="/items/{{ item._id }}/update" method="post" >
                <label class="form-label" for="title">Title</label>
                <input id="title-input" name="title" maxlength="50" value="{{ item.title }}" {{#if updatedItem.errors.title}}class="error"{{/if}}/>

                <label class="form-label" for="description">Description</label>
                <textarea id="description-input" name="description" {{#if updatedItem.errors.description}}class="error"{{/if}}>{{#if updatedItem.errors.description}}{{else}}{{ item.description }}{{/if}}</textarea>
                
                <label class="form-label" for="imageUrl">Image URL</label>
                <input id="imageUrl-input" name="imageUrl" oninput="handleChange" value="{{ item.imageUrl}}" {{#if updatedItem.errors.imageUrl}}class="error"{{/if}}/>

                <div class="form-navigation">
                    <a href="/items/{{ item._id }}">
                        <img class="back-arrow" src="/img/back.svg" alt="back">
                    </a>
                    <button class="button submit-button" id="submit-button" type="submit">
                        <p>Update</p>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const img = document.getElementById("created-image");
    function handleChange(e) {
        img.src = e.target.value;
    }
    document.getElementById('imageUrl-input').oninput = handleChange;
</script>
